header.header

    .header__wrapper

        a.logo(href="/")

            .logo__icon
                include ../../images/icons/logo.svg

            .logo__text Эверест

        nav.header-nav

            +menuList([
                    {title: "Продукция", href: "#"},
                    {title: "Производство", href: "#"},
                    {title: "Мощности", href: "#"},
                    {title: "Проекты", href: "#"},
                    {title: "Контакты", href: "#"},
                ], 0, 'menu')
        .test test
        .menu-toggler
            span.menu-toggler__line
            span.menu-toggler__line
            span.menu-toggler__line
