.button {

    display: flex;

    cursor: pointer;

    &_main {
    
        justify-content: center;
        max-width: 245px;
        padding: 19px 67px;
        box-sizing: border-box;
        font-size: 28px;
        line-height: 33px;
        color: $color-default;
        background-color: rgba(255, 255, 255, 0.2);

    
    }

}

// use BAM modifier
