.button {

    display: flex;

    cursor: pointer;

    &_main {

        justify-content: center;
        background-color: $color-button;
        padding: 19px 67px;
        max-width: 245px;
        line-height: 33px;
        color: $color-default;
        font-size: 28px;
        box-sizing: border-box;

    }
}

// use BAM modifier
