.logo {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon > svg > path {

        transition: fill .6s ease;
        margin-bottom: 7px;


    }

    &__icon {

        width: 115px;
        height: 93px;

        @media screen and (max-width: 780px) {

            width: 73px;
            height: 60px;

        }

        @media screen and (max-height: 840px) {

            width: 73px;
            height: 60px;

        }

    }

    &__text {

        transition: color .6s ease;
        text-transform: uppercase;
        line-height: 30px;
        color: $color-default;
        font-size: 25px;
        font-weight: bold;

        @media screen and (max-width: 780px) {

            line-height: 22px;
            font-size: 19px;

        }

        @media screen and (max-height: 840px) {

            line-height: 22px;
            font-size: 19px;

        }

    }

    &:hover {

        .logo__text {

            transition: color .6s ease;
            color: $color-hover;

        }

        .logo__icon > svg > path {

            transition: fill .6s ease;
            fill: $color-hover;

        }

    }

}
