.menu {

    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    width: 100%;
    list-style-type: none;

    &__link {

        transition: color .6s ease;
        line-height: 20px;
        color: $color-default;
        font-size:  17px;

        &:hover {

            transition: color .6s ease;
            color: $color-hover;

        }

    }

}
