extends ../layout/layout.pug

block content

    section.main__content

        .main-slider

            .main-slider__wrapper

                .main-slide

                    .main-slide__wrapper

                        .main-slide__item

                            .main-slide__item-wrapper

                                h2.title.title_left.title_h2 Сайты:
                                h2.title.title_left.title_h2 Скарлет и монарх

                                h3.title.title_left.title_h3 Система управления сайтом 

                                .main-slide__text.main-slide__text_left Скарлетт и Монарх: Управление сайтом - это большое 
                                    |количество программных модулей для решения задач любой 
                                    |сложности от размещения текста до приема платежей.

                            .main-slide__button Перейти

                        .main-slide__item.main-slide__item_right

                            .main-slide__item-wrapper

                                h2.title.title_right.title_h2 Интернет сервисы:
                                h2.title.title_right.title_h2 Эверест

                                h3.title.title_right.title_h3 Система для решения отраслевых задач 

                                .main-slide__text.main-slide__text_right Полная интеграция с программным обеспечением 1C:
                                    |бухгалтерия с обменом по P2P протоколу. Формирование 
                                    |файлов квитанций оплаты услуг водоснабжения и
                                    |общедомовых  работ. Отправка показаний счётчиков в режиме
                                    |онлайн.  Интеграция с сервисом Госуслуг и возможность
                                    |обмена сообщениями с жильцами и администрацией.
                                    |Онлайн оплата. 

                            .main-slide__button.main-slide__button_right Перейти

                .main-slide.services-slide

                    .services-slide__wrapper

                        h2.title.title_left.title_h2 Наши услуги

                        .services-slide__grid

                            .services-slide__grid-item.swiper-slide

                                .services-slide__icon-wrapper

                                    .services-slide__icon

                                .services-slide__text-wrapper

                                    h3.title.title_right.title_h3 Сайты-визитки

                                    .services-slide__text По настоящему стильная 
                                        |интернет-визитка — это лучший способ 
                                        |подчеркнуть ваш статус и амбиции. С 
                                        |нами интернет-визитка — это небольшой 
                                        |сайт, который может многое. Данный 
                                        |продукт станет для вас отличным 
                                        |решением, если вы хотите представить 
                                        |свою персону в сети наилучшим образом. 

                            .services-slide__grid-item.swiper-slide

                                .services-slide__icon-wrapper

                                    .services-slide__icon.services-slide__icon_second

                                .services-slide__text-wrapper

                                    h3.title.title_right.title_h3 Корпоративные сайты

                                    .services-slide__text Создание сайта 
                                        |компании — это по настоящему серьезная 
                                        |задача. Здесь все должно быть 
                                        |продумано до мелочей — от деталей 
                                        |фирменного стиля до самых тонких 
                                        |технических моментов. Только ресурс 
                                        |с по настоящему крутым дизайном и 
                                        |совершенной технической реализацией 
                                        |способен произвести на клиентов и 
                                        |партнеров нужное вам впечатление.

                            .services-slide__grid-item.swiper-slide

                                .services-slide__icon-wrapper

                                    .services-slide__icon.services-slide__icon_third

                                .services-slide__text-wrapper

                                    h3.title.title_right.title_h3 Интернет-магазины

                                    .services-slide__text Задача интернет 
                                        |магазина — обеспечить пользователю 
                                        |максимальное удобство работы с 
                                        |каталогом и функционалом. А также 
                                        |быть запоминающимся для посетителей. 
                                        |Мы знаем как создать для вас 
                                        |идеальный интернет-магазин, 
                                        |который будет работать как 
                                        |полноценный и максимально 
                                        |эффективный инструмент 
                                        |продаж в онлайне.

                            .services-slide__grid-item.swiper-slide

                                .services-slide__icon-wrapper

                                    .services-slide__icon.services-slide__icon_fourth

                                .services-slide__text-wrapper

                                    h3.title.title_right.title_h3 Хостинг

                                    .services-slide__text Бесплатный сертификат 
                                        |к домену второго уровня. Бэкап 
                                        |три раза в  неделю. Регулярное 
                                        |обновление версий програмного 
                                        |обеспечения до актуального состояния. 
                                        |Использование изолированных окружений 
                                        |для сайтов клиента. Безлимит по 
                                        |дисковой квоте и трафику. 
                                        |Собственный СМС шлюз с 
                                        |нелимитированным качеством сообщений.

                .main-slide.powers-slide

                    .powers-slide__wrapper

                        h2.title.title_left.title_h2 Мощности

                        .powers-slide__container

                            .powers-slide__tabs.powers-slide-tabs

                                .powers-slide-tabs__toolbar

                                .powers-slide-tabs__tab

                                    .powers-slide-tabs__slider-item

                                        .powers-slide-tabs__slider-item-icon

                                        .powers-slide-tabs__slider-item-text Отдел дизайна

                                    .powers-slide-tabs__slider-item

                                        .powers-slide-tabs__slider-item-icon

                                        .powers-slide-tabs__slider-item-text Frontend

                                    .powers-slide-tabs__slider-item

                                        .powers-slide-tabs__slider-item-icon

                                        .powers-slide-tabs__slider-item-text Backend

                                    .powers-slide-tabs__slider-item

                                        .powers-slide-tabs__slider-item-icon

                                        .powers-slide-tabs__slider-item-text Комерческий отдел

                                .powers-slide-tabs__tab

                            .powers-slide__slider.powers-slide-slider

                        

//- block append page-bottom
//- script(src='./js/another-js.js')
