$font-default: 'San Francisco Pro', sans-serif;

$shadow-default: 3px 3px 3px 0 #b8b8b8;

$width-container: 1384px;

$color-default: #e5e5e5;

$color-button: rgba(255, 255, 255, .2);

$color-hover: #153d65;

$color-background-gray: rgba(0, 0, 0, .46)
$color-background-shadow-blue: rgba(21, 61, 101, .7);

$color-black: #000;

$color-white: #fff;

$color-gray: #707070;

$color-cyan: #0075cc;
$color-cyan-lg: #4cb3ff;
$color-cyan-dr: #0080ff;


