%text {

    margin-top: 20px;
    line-height: 21px;
    color: $color-default;
    font-size: 18px;

}

%slide-wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.main-slider {

    height: 100%;
    max-height: 780px;
    overflow: hidden;

    &__wrapper {

        height: 100%;

    }

}

.main-slide {

    height: 100%;

    &__wrapper {

        @extend %slide-wrapper;

    }

    &__item {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        min-height: 430px;

        &_right {

            align-items: flex-end;

        }

    }

    &__text {

        @extend %text;

        &_left {

            text-align: left;

        }

        &_right {

            text-align: right;

        }

    }

    &__button {

        display: flex;
        justify-content: center;
        background-color: $color-button;
        cursor: pointer;
        padding: 19px 67px;
        max-width: 245px;
        line-height: 33px;
        color: $color-default;
        font-size: 28px;
        box-sizing: border-box;

    }

}

.services-slide {

    padding-top: 70px;
    box-sizing: border-box;

    &__wrapper {

        @extend %slide-wrapper;
        flex-direction: column;

    }

    &__grid {

        display: grid;
        padding-top: 70px;
        height: 100%;
        box-sizing: border-box;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;

    }

    &__grid-item {

        display: flex;

    }

    &__icon-wrapper {

        display: flex;
        min-width: 60px;
        height: 100%;

    }

    &__icon {

        margin-right: 30px;
        background: url('/images/icons/services-1.svg') no-repeat center / contain;
        width: 30px;
        height: 30px;

    }

    &__text-wrapper {

        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    &__text {

        @extend %text;
        padding-right: 25px;
        box-sizing: border-box;

    }

}
