%text {

    margin-top: 20px;
    line-height: 21px;
    color: $color-default;
    font-size: 18px;

    @media screen and (max-width: 890px) {

        margin-top: 10px;
        font-size: 16px;

    }

    @media screen and (max-width: 556px) {

        line-height: 15px;
        font-size: 12px;

    }

    @media screen and (max-height: 540px) and (min-width: 756px) {

        margin-top: 10px;
        line-height: 17px;
        font-size: 14px;

    }

    @media screen and (max-height: 380px) {

        line-height: 12px;
        font-size: 11px;

    }

}

%slide-wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.main-slider {

    height: 100%;
    max-height: 780px;
    overflow: hidden;

    @media screen and (max-height: 860px) {

        max-height: 680px;

    }

    &__wrapper {

        height: 100%;

    }

}

.main-slide {

    height: 100%;

    &__wrapper {

        @extend %slide-wrapper;
        align-items: flex-start;
        padding-top: 190px;
        box-sizing: border-box;

        @media screen and (max-width: 1120px) {

            padding-top: 150px;

        }

        @media screen and (max-width: 780px) {

            padding-top: 100px;

        }

        @media screen and (max-height: 840px) {

            padding-top: 100px;

        }

        @media screen and (max-width: 556px) {

            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

        }

        @media screen and (max-height: 670px), (max-width: 756px) {

            padding-top: 30px;

        }

        @media screen and (max-height: 450px), (max-width: 556px) {

            padding-top: 10px;

        }

    }

    &__item {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        min-height: 430px;

        &_right {

            align-items: flex-end;

            @media screen and (max-width: 556px) {

                align-items: flex-start;

            }

        }

        @media screen and (max-width: 1280px) {

            width: 48%;

        }

        @media screen and (max-width: 556px) {

            margin-bottom: 20px;
            width: 100%;
            min-height: 190px;

        }

        @media screen and (max-height: 630px) and (min-width: 568px) {

            min-height: 370px;

        }

        @media screen and (max-height: 540px) {

            min-height: 290px;

        }

        @media screen and (max-height: 450px) {

            min-height: 230px;

        }

    }

    &__item-wrapper {

        padding-bottom: 20px;
        box-sizing: border-box;

    }

    &__text {

        @extend %text;

        &_left {

            text-align: left;

            @media screen and (max-width: 556px) {

                text-align: unset;

            }

        }

        &_right {

            text-align: right;

            @media screen and (max-width: 556px) {

                text-align: unset;

            }

        }

    }

    &__button {

        display: flex;
        justify-content: center;
        background-color: $color-button;
        cursor: pointer;
        padding: 19px 67px;
        max-width: 245px;
        line-height: 33px;
        color: $color-default;
        font-size: 28px;
        box-sizing: border-box;

        @media screen and (max-width: 840px) {

            padding: 10px 50px;
            max-width: 190px;
            font: 20px / 25px sans-serif;

        }

        @media screen and (max-height: 840px) {

            padding: 10px 50px;
            max-width: 190px;
            font: 20px / 25px sans-serif;

        }

        @media screen and (max-height: 450px), (max-width: 756px) {

            padding: 8px 30px;
            max-width: 110px;
            font: 14px / 16px sans-serif;

        }
    }

}

.services-slide {

    padding-top: 70px;
    box-sizing: border-box;

    &__wrapper {

        @extend %slide-wrapper;
        flex-direction: column;

    }

    &__grid {

        display: grid;
        padding-top: 70px;
        height: 100%;
        box-sizing: border-box;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;

    }

    &__grid-item {

        display: flex;

    }

    &__icon-wrapper {

        display: flex;
        min-width: 60px;
        height: 100%;

    }

    &__icon {

        margin-right: 30px;
        background: url('/images/icons/services-1.svg') no-repeat center / contain;
        width: 30px;
        height: 30px;

    }

    &__text-wrapper {

        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    &__text {

        @extend %text;
        padding-right: 25px;
        box-sizing: border-box;

    }

}
