.html {

    display: flex;

}

.body {

    background: url("/images/background.jpg") no-repeat center/cover;

    &__container {

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: rgba(0, 0, 0, 0.46);

    }

}

.main {

    display: flex;

    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    width: 100%;

    &__wrapper {

        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $width-container;
        flex-grow: 1;

        @media screen and (max-width: 1448px) {

            padding: 0 30px;
            box-sizing: border-box;

        }

    }

    &__content {

        height: 100%;

    }
}
