.main {

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__wrapper {

        width: 100%;
        max-width: $width-container;

        @media screen and (max-width: 1448px) {

            padding: 0 30px;
            box-sizing: border-box;

        }

    }

    &__content {

        height: 100%;

    }

}

.background-shadow {

    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform .6s ease;
    z-index: -1;
    background: $color-background-shadow-blue;
    width: 100%;
    height: 100%;

    &_active {

        transform: translateX(0%);

    }
}

.background {

    position: absolute;
    top: 0;
    z-index: -1;
    background: url('/images/background.jpg') no-repeat center / cover;
    width: 100%;
    height: 100%;

}
